*{
  box-sizing: border-box;
}

html, body{
  font-family: Arial, sans-serif;
  color: rgb(53,50,48);
  line-height: 1.4;
  margin: 0;
}
header{
  background-color:rgb(40,44,52);
}
#logo{
  height: 40px;
}
a{
  color: rgb(53,50,48);
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a{
  color: rgb(255,255,255);
  text-transform: uppercase;
  font-weight: bold;
  transition: 1s color ease;
}
/*Das ist ein Kommentar in CSS*/
nav a:hover{
  color: rgb(102,205,170);
  padding-left: 20px;

}

@media (min-width: 768px){
  #menu{
    float: right;
  }
    header{
      height: 60px;
  }
  #menu li{
    float: right;
    margin-right: 20px;
  }
  /* id wird zu # */
  #logo{
    margin-top: 10px;
  }
  /* class wird zu . */
  .wrapper{
    width: 90%;
    margin: auto;
  }
}
